# Dev D1
CF_ACCOUNT_ID=
CF_D1_TOKEN=
CF_D1_DATABASE_ID=
CF_KV_NAMESPACE_ID=
CF_KV_TOKEN=


# Environment
NODE_ENV=development

# Development-specific settings
DEBUG=true
LOG_LEVEL=debug

# CBS
CBS_POOL_ID=
CBS_USER=
CBS_PASS=

# Sports IO
SPORTS_IO_API_KEY=

# Odds API - the odds api
THE_ODDS_API_KEY=

# WEATHER API
WEATHER_API_KEY= 